.side-modal {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 100%;
    width: 50%;
    background: #f5f5f5;
    overflow: scroll;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2)
}

.side-modal .side-modal-title {
    background: #03a9f4;
    height: 50px;
    color: #fff;
    text-align: left;
    font-size: 20px;
    padding-left: 25px;
    line-height: 50px;
}

.side-modal .side-modal-title-close {
    float: right;
    height: 50px;
    border: none;
}

.side-modal .side-modal-content {
    margin: 20px;
}

.side-modal .side-modal-footer {
    margin: 20px 10px;
}

